<!DOCTYPE html>
<html lang="en">

<%- include('./components/head.ejs')  %>


<body>
    <%- include('./components/header.ejs') %>
    <main>

        <section class="container">
           
           <div class="login">
            <h1>Login</h1>

            <form action="/login" method="POST">
                <label for="email">E-mail:</label>
                <input  class="input"type="email" id="email" name="email" required>
        
                <label for="senha">Senha:</label>
                <input class= "input"type="password" id="password" name="password" required>
        
                <input class= "btn btn-primary"type="submit" value="Entrar">
            </form>
        
            <p>Ainda não tem uma conta? 
                <a href="/cadastro">Clique aqui</a> para se cadastrar.</p>

           </div>
           
            


        </section>


    
    <%- include('./components/footer.ejs') %>
</body>

</html>