<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PETSHOP DH</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="/img/terapia-animal.png" type="image/x-icon">
</head>

<body>
    <%- include('./components/header.ejs') %>
    <main>

        <section class="container">
           
           <div class="login">
            <h1>Login</h1>

            <form action="/login" method="POST">
                <label for="email">E-mail:</label>
                <input  class="input"type="email" id="email" name="email" required>
        
                <label for="senha">Senha:</label>
                <input class= "input"type="password" id="password" name="password" required>
        
                <input class= "btn btn-primary"type="submit" value="Entrar">
            </form>
        
            <p>Ainda não tem uma conta? 
                <a href="/cadastro">Clique aqui</a> para se cadastrar.</p>

           </div>
           
            


        </section>


    
    <%- include('./components/footer.ejs') %>
</body>

</html>